Source: brightness-controller
Maintainer: Archisman Panigrahi <apandada1@gmail.com>
Section: utils
Standards-Version: 4.1.4
Build-depends: debhelper,
	       python | python-all | python-dev | python-all-dev
Homepage: https://github.com/lordamit/Brightness
Priority: optional

Package: brightness-controller
Architecture: all
Depends: x11-xserver-utils,
	 python-pyside,
	 python,
	 sni-qt, ${misc:Depends}
Section: utils
Description: Easily adjust your display brightness
 Brightness Controller is the only GUI application 
 for GNU/Linux that allows you to control brightness of
 your primary and secondary display from the same place. 
 It is a software based dimmer. 
 Let your friends know if this application made your 
 display more friendly to your eyes.
